@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  padding: 0 !important;
}
.body {
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar{
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0px 50px 50px black;
}
.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.301)),
    url(../imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: white;
}
.gridlist {
  height: 100%;
  overflow: auto;
}
.header {
  width: 100%;
  position: fixed;
  height: 96px;
  padding: 15px 15px;
}
.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100 !important;
}

.logo {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6em;
  font-family: "Varela Round", sans-serif;
}
.but:hover {
  background: linear-gradient(to right, #fd297b, #ff5864, #ff655b);
}

.but:hover .log-but {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.log-but {
  background: linear-gradient(to right, #fd297b, #ff5864, #ff655b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1.5px;
  padding: 2.5px 5px;
}

.rev-footer {
  display: grid;
  place-content: center;
}
.countainer {
  display: flex;
  justify-content: flex-start;
  width: calc(80vw + 1px);
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  column-gap: 20px;
  margin:30px;
  padding:5px
}



.countainer > p{
  margin:5px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  text-align: center;
  height: 90%;
  width: calc(40vw - 1px) ;
  border: 1px solid black;
}


.rev {
  border: 2px solid black;
  width: 250px;
  height: 100px;
  overflow: hidden;
}


.swip-left{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 90px;
  font-weight: 200;
  letter-spacing: 6px;
  padding-bottom: 20px;
}
@media screen and (max-width: 620px) {
  .swip-left{
    font-size: 10vw;
  }

  
}

.swip{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-but
{
  width: 250px;
  height: 50px;
  background: linear-gradient(to right, #fd297b, #ff5864, #ff655b);
  border-radius: 25px !important;
  color: white !important;
}
.create-but:hover
{
  background: linear-gradient(to left, #fd297b, #ff5864, #ff655b) ;
}



.signup{
  width: auto
}

.signup-l
{
  height: 80%;
  display: flex;
  justify-content: space-e;
  align-items: center;
  flex-direction: column;

}

.terms-actp
{
  font-size: 15px !important;
  text-align: center;
}

.dialog{
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDialog-root{
  width: 100% !important;
}